# Google Calendar OAuth Credentials (from Google Cloud Console)
# Get these from: https://console.cloud.google.com/apis/credentials
GOOGLE_CALENDAR_CLIENT_ID=your_client_id.apps.googleusercontent.com
GOOGLE_CALENDAR_CLIENT_SECRET=GOCSPX-your_secret
GOOGLE_CALENDAR_REDIRECT_URI=http://localhost

# Google Calendar OAuth Tokens (after running authorization)
# Run: poetry run python -c "from platform_calendar import load_or_authorize; print(load_or_authorize())"
GOOGLE_CALENDAR_ACCESS_TOKEN=ya29.your_access_token
GOOGLE_CALENDAR_REFRESH_TOKEN=1//your_refresh_token
GOOGLE_CALENDAR_TOKEN_EXPIRES_AT=1735200000
